.header_main {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 10vh;
    /* min-height: 60px; */
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    /* background-color: black; */
}

.nav_black {
    background-color: rgb(20, 20, 20);
}

.header_container {
    width: 90%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left ul {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    gap: 1rem; 
}

.header_left ul li {
    font-size: 1rem;
    color: white; 
}

.header_left ul li img {
    width: 80px; 
    height: auto;
}

.header-right ul {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.header-right ul li {
    color: white; 
}


@media (max-width: 768px) {
    .header_container {
        width: 95%;
    }

    .header_left ul {
        gap: 0.8rem;
    }

    .header_left ul li {
        font-size: 0.9rem;
    }

    .header_left ul li img {
        width: 70px;
    }

    .header-right ul {
        gap: 0.8rem;
    }
}


@media (max-width: 600px) {
    .header_main {
        height: 8vh;
        min-height: 50px;
    }

    .header_container {
        flex-direction: row;
        align-items: center;
        width: 95%;
    }

    .header_left ul {
        flex-wrap: nowrap;
        gap: 0.5rem;
        overflow: hidden;
    }

    .header_left ul li {
        font-size: 0.8rem;
    }

    .header_left ul li img {
        width: 60px;
    }

   
    .header_left ul li:nth-child(n+3) {
        display: none;
    }

    .header_right ul {
        gap: 0.5rem;
    }

    .header-right ul li svg {
        font-size: 1.2rem; 
    }
}